body {
  background-color: white;
  font-family: "Verdana", sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.configurator {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.desk,
.choose-element,
.choose-option {
  border: 1px solid black;
  height: 50vw;
  padding: 30px;
  max-height: 80vh;
}

.choose-element,
.choose-option {
  max-width: 300px;
  flex-grow: 1;
}

.desk {
  min-width: 800px;
}

svg:first-child {
  margin-top: 100px;
}

.materialbox:hover,
.colorbox:hover {
  cursor: pointer;
  opacity: 0.8;
}

.materialbox {
  border-radius: 10%;
  width: 75px;
  height: 25px;
  border: 1px solid black;
  margin: 5px;
  display: inline-block;
  padding: 5px;
  text-align: center;
  color: white;
}

#wood {
  background-image: url("wood.jpg");
}

#metal {
  background-color: slategrey;
}

ul {
  list-style-type: none;
}

li:hover {
  font-weight: 600;
}

#shadow,
#wood-shadow {
  pointer-events: none;
}

.interact {
  fill: transparent;
}

.feature-item {
  width: 50px;
}

.feature-item-preview {
  position: absolute;
  top: 80px;
  left: 510px;
  width: 150px;
}

.feature-item-preview.flower {
  position: absolute;
  top: 130px;
  left: 110px;
  width: 130px;
}

.feature-item-preview.globe {
  position: absolute;
  top: 100px;
  left: 210px;
  width: 140px;
}

#selected p {
  font-weight: bold;
  font-size: 1.5em;
}

#selected img {
  width: 100px;
}

.hide {
  display: none;
}
